.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f7fc;
}

.main-content {
  flex: 1;
  margin-left: 260px; /* Matches the sidebar width */
  width: calc(100% - 260px); 
  display: flex;
  flex-direction: column;
}